name: Build samfirm.js

on:
  push:
    branches:
      - '**'      
    tags:
      - '**'      

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js 22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

   
      - name: Build
        run: npm run build
        env:
          NODE_OPTIONS: --openssl-legacy-provider

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ github.ref_name }}
          path: |
            dist/
            build/
